.DS_Store
data/
attic/
Appendix/plots/
Appendix/Figures/
Chapter2/Figures/
Chapter3/Figures/
Chapter3/ERP/plots/
Chapter3/SPR1/plots/
Chapter3/SPR2/plots
Chapter3/Stimuli/
Chapter4/ERP/plots/
Chapter4/SPR/plots/
Chapter4/Figures/
Chapter4/Stimuli/
Chapter5/Figures/
Chapter5/ERP/plots/
Chapter2/plots
